<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <title>Todo App</title>
  <style>
    @media (max-width: 768px) {
      /* Custom styles for mobile view */
      .btn-logout-text {
        display: none;
      }
      .btn-logout-icon {
        display: inline-block;
      }
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Todo Word Centered -->
    <a class="navbar-brand mx-auto" href="#">Todo</a>

    <!-- Logout Button at the Right -->
    <!-- Logout Button at the Right -->
  
    <a href="{% url 'logout' %}"><button type="button" class="btn-logout-text btn btn-outline-danger my-2 my-sm-0">Logout</button>
    </a>
    <a href="{% url 'logout' %}"><button type="button" style="display: none;" class="btn-logout-icon  my-2 my-sm-0"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </a>
    

  </div>
</nav>

<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
